/* This extensions requires no custom styling */
.remote-buttons-table {
    padding: 0px 30px 0px 30px;
}

.remote-flat-button {
    border-radius: 4px;
    font-size: 12pt;
    height: 42px;;
    transition-duration: 100ms;
    width: 42px;;
}

.remote-flat-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.remote-sharp-button {
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    font-size: 12pt;
    height: 42px;;
    width: 42px;;
}

.remote-sharp-top-button {
    border-bottom-width: 0;
    border-radius-bottomleft: 0;
    border-radius-bottomright: 0;
}

.remote-sharp-right-button {
    border-left-width: 0;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

.remote-sharp-bottom-button {
    border-radius-topleft: 0;
    border-radius-topright: 0;
    border-top-width: 0;
}

.remote-sharp-left-button {
    border-right-width: 0;
    border-radius-bottomright: 0;
    border-radius-topright: 0;
}

.remote-sharp-central-button {
    border-radius: 0;
    border-width: 0;
}

.remote-sharp-button:hover {
    background-color: #4c4c4c;
}

.remote-sharp-label {
    border: 1px solid #5f5f5f;
    border-bottom-width: 0;
    border-top-width: 0;
    font-size: 8pt;
    padding: 4px 0 4px 0;
    text-align: center;
}

.remote-home-label {
    color: #ef2929;
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    padding: 4px 0 4px 0;
    text-align: center;
}

